body {
  color:  #d4d9e4;
  background-color:#29292b;
}

@media(prefers-color-scheme: dark) {
  body {
    background-color: #29292b;
      color: #d4d9e4;
  }
}


a.blog-link:link
{
  color: #fff;
  /*  text-decoration: underline; */
}
a.blog-link:visited
{
  color: #fff;
  font-weight: bold;
   /* text-decoration: underline; */
   padding-left: 0rem;
}
a.blog-link:hover
{
  color: #fff;
  font-weight: bold;
   /* text-decoration: underline; */
   padding-left: 0rem;
}
a.blog-link:active
{
  font-weight: bold;
  color: #fff;
 /*   text-decoration: underline; */
   padding-left: 0rem;
}