body {
  background-color: #C0C0C0;
  color: #29292b;
}

@media(prefers-color-scheme: light) {
  body {
    background-color: #C0C0C0;
      color: #29292b;
  }
}

a.blog-link:link
{
  color: black;
}
a.blog-link:visited
{
color: black;
/*     text-decoration: underline; */
  font-weight: bold;
   padding-left: 0rem;
}
a.blog-link:hover
{
  font-weight: bold;
 color: black;
   /* text-decoration: underline; */
   padding-left: 0rem;
}
a.blog-link:active
{
  font-weight: bold;
  color: black;
   padding-left: 0rem;
}
