


.main-header {
    color:#b5e853;
 /*    margin-bottom:0;
    background-color: #151515;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
    font-size: 30px;
    line-height: 1.5;
    margin: 0 0 0 0px; */
    padding-left: 15px;
    padding-right: 25px;
    font-weight: bold;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.main-page-img {
    /* height: 200px; */
    background: #aaa;
  }

  a.nav-link:link
{
   color: rgba(255,255,255,.5);
   text-decoration: none;
}
a.nav-link:visited
{
   color: rgba(255,255,255,.5);
   text-decoration: none;
}
a.nav-link:hover
{
   color: rgba(255,255,255,.5)00;
   text-decoration: none;
}
a.nav-link:active
{
   color: rgba(255,255,255,.5);
   text-decoration: none;
}